@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 5%;
    --foreground: 200, 7%, 9%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 133, 77%, 70%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 240, 1%, 57%;
    --muted-foreground: 210, 6%, 14%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
    --scrollbar-bg: 0 0% 94%;
    --scrollbar-thumb: 0 0% 52%;
    --scrollbar-thumb-hover: 0 0% 42%;
    --color-ethereum: 258, 86%, 34%;
    --yellow:50, 100%, 43%;
    --blue:219, 96%, 44%;
    --orange:28, 95%, 40%;
    --purpel:280, 86%, 42%;
  }

  .dark {
    --background: 0, 0%, 5%;
    --foreground: 200, 7%, 9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 133, 77%, 70%;
    --primary-light: 284, 70%, 62%;
    --primary-foreground: 284, 79%, 7%;
    --secondary: 24, 97%, 65%;
    --secondary-dark: 23, 81%, 15%;
    --secondary-foreground: 23, 75%, 9%;
    --accent: 332, 92%, 69%;
    --accent-foreground: 331, 71%, 15%;
    --muted: 240, 1%, 57%;
    --muted-foreground: 0, 0%, 43%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 263.4 70% 50.4%;
    --scrollbar-bg: 0 0% 9%;
    --scrollbar-thumb: 0 0% 58%;
    --scrollbar-thumb-hover: 0 0% 47%;
    --color-ethereum: 258, 86%, 34%;
    --yellow:50, 100%, 43%;
    --blue:219, 96%, 44%;
    --orange:28, 95%, 40%;
    --purpel:280, 86%, 42%;

  }
}

input:focus-visible {
  outline: none;
  box-shadow: none; 
}


input:focus {
  box-shadow: none; 
}
/* * {
    border: 1px solid red;
  } */